

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    color: white;
    background-color: black;
    margin: 0px 45px 0px 45px;
  
   
}
nav{
    padding: 4px;
    /* justify-content: center; */
    /* display: flex; */
    /* background-color: rgba(255, 0, 0, 0.295); */
    background-color: #710202b5;
    margin: 5px 2px 2px 2px;
    height: 35px;
    border: 1px solid white;
    border-radius: 13px;

    
}
.navel{
  margin-left: 10%;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 40px green;
    
}

.sbtn{
  cursor: pointer;
  transition: 0.4s;
  height: 35px;
  border-radius: 8px;
  width: 148px;
  padding: 1px;
  background-color: #48ff00;
  
  font-size: 19px;
  color: white;
  /* margin-left: 210px; */
margin: 1px -302px 1px 470px;

}

.sbtn:hover{
  
  background-color: #1100fcc2;

}

.search-icon{
  border-radius: 40px;
height: 25px;
width: 18px;
margin: 7px 0px 0px 488px;
position: absolute;
}


#slides{
	position: relative;
	height: 378px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;


}


.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}


.controls{
	display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	font-size: 40px;
	/* padding: 40px; */
	box-sizing: border-box;
	background: #333;
	color: #fff;
  
  background-size: cover;
}

.slide:nth-of-type(1){
	background-color: red;
  background-image: url('IT home/bangur.png');
}

.slide:nth-of-type(2){
	background-color: orange;
  background-image: url('IT home/hedrabad.png');
}

.slide:nth-of-type(3){
  background-color: green;
  background-image: url('IT home/gold1.jpeg');
  height: 380px;
}
.slide:nth-of-type(4){
  background-color: green;
  background-image: url('IT home/home38.jpeg');
  height: 380px;
}
.slide:nth-of-type(5){
  background-color: green;
  background-image: url('IT home/home22.jpeg');
  height: 380px;
}
.slide:nth-of-type(6){
  background-color: green;
  background-image: url('IT home/home7.jpeg');
  height: 380px;
}
.slide:nth-of-type(7){
  background-color: green;
  background-image: url('IT home/hedrabad.png');
  height: 380px;
}


.controls{
  /* background: #333;
  color: #fff;
  border: none;
  /* padding: 20px 0px; */
  /* font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
  height: 20px;
  border-radius: 10px;  */


  background: #333;
  color: #fff;
  border: none;
  /* padding: 20px 0px; */
  /* font-size: 20px; */
  cursor: pointer;
  border: 2px solid #fff;
  margin: 96px 0px 0px 10px;
  width: 26px;
  height: 25px;
  border-radius: 10px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  height: fit-content;
  /* height: auto; */

  border-radius: 10px;
  margin: 17px 80px 0px 86px;

  /* border-radius: 10px; */
  border: 2px solid white;
}



.buttons{
margin: 303px 0px 0px 453px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}




 .country-box{
  background-color: #333;
}

.country-arry{
   display: flex;
  
 }


 .flag{
  height: 94px;
    width: 138px;
  
  /* height: 83px;
  width: 93px; */
  border-radius: 10px;
 }
 .cuntry-card{
  border-radius: 10px;
  /* margin: 14px; */
  margin-left:29px ;
  margin-top: 4px;
  margin: 33px;
  

 }

 .cuntry-name{
    color: rgb(255, 255, 255);
    position: absolute;
    margin: -101px 2px 2px 0px;
    font-size: 20px;
    /* opacity: 1; */
    border-radius: 10px;
    background-color: #333;
    opacity: 0;
    align-items: center;
    justify-content: center;
   
    padding-top: 27px;
    padding-left: 42px;
    height: 69px;
    width: 94px;
}
a{
  color: white;
  text-decoration: none;
}
.cuntry-name:hover{
  border: 2px solid white;
  opacity: 1;
  background-color: #33333382;
  cursor: pointer;
  box-shadow: 1px 0px 20px 2px rgb(255 255 255 / 54%);
}
.flag:hover{
  background-color: #333;
 }

 

 .b-logo{
  border-radius: 40px;
      height: 30px;
      width: 30px;
      position: absolute;
      /* margin: 0px 0px 0px 7px; */
 }

 .b-name{
  margin: 0px 0px 0px 37px;
  font-size: 19px;
 }

 .country-arry{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 85px;
 }